*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

/********** header1 **********/
.nav1 .nav-wrapper{
    background-color: #333333;
    border-bottom: 3px solid #007ce0;
}
.nav1 .nav-wrapper .brand-logo{
    padding-left: 55px;
    /*font-size: 25px;*/
}
.nav1 .nav-wrapper #nav-mobile li:hover{
    background: #00abc5;
}
.nav1 .nav-wrapper #nav-mobile .user{
   margin-right: 15px;
}
.nav1 .nav-wrapper #nav-mobile li a{
    padding-right: 15px;
    padding-left: 15px;
}
.nav1 .nav-wrapper .menu{
    padding-left: 18px;
    margin-bottom: 5px;
}
.nav1 .nav-wrapper #nav-mobile li img{
    height: 40px;
    width: 40px;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: -13px;
}
.nav1 .nav-wrapper .left img{
    height: 40px;
    width: 200px;
    margin-top: 10px;
}
/*****************************/

/********** search-bar **********/
.nav1 .nav-wrapper .search form{
    margin: auto;
    width: 30%;
}
.nav1 .nav-wrapper .search .input-field{
    padding-top: 7px;
}
.nav1 .nav-wrapper .search form #search{
    height: 50px;
}
.nav1 .right{
    position: absolute;
    top: 0px;
    right: 0px;
}
/********** fin search-bar **********/
/********** fin header1 **********/

/********** header3 **********/
.nav3 .nav-wrapper{
    background-color: #bdbdbd;
}
.nav3 .nav-wrapper .menu3 li a{
    font-size: 1rem;
}
#nav3 .dropdown-content li a{
    color: #000;
}
#nav3 .dropdown-content li a:hover{
    background: #00abc5;
    color: white;
}
#nav3 .nav-wrapper i{
    margin-left: 5px;
}
/********** fin header3 **********/

/********** menu lateral movil **********/
.contenedor-menu2{
    width: 119%;
    margin: 0px;
    display: inline-block;
    line-height: 18px;
}
.contenedor-menu2 .menu2{
    width: 100%;
}
.contenedor-menu2 ul{
    list-style: none;
}
.contenedor-menu2 .menu2 li a{
    display: block;
    padding: 0px 40px 0px 25px;
}
.contenedor-menu2 .menu2 li a:hover{
    background: #1a95d5;
    color: #fff;
}
.contenedor-menu2 .menu2 ul{
    display: none;
}
.contenedor-menu2 .menu2 ul li a{
    background: #000;
    color: #999999;
}
.contenedor-menu2 .menu2 .activado > a{
    background: #1a95d5;
    color: #fff;
}
#menu-lateral-movil .sidenav .categorias2,
#menu-lateral-movil .sidenav .categorias2 i{
    color: #1a95d5;
}
#menu-lateral-movil .sidenav .divider {
    margin:0;
    height:8px;
    border-bottom:1px solid #e0e0e0;
    background-color: transparent;
}
/********** search ***********/
#menu-lateral-movil .sidenav .search .input-field input[type=search]:focus + label{
    color: #00abc5;
}
#menu-lateral-movil .sidenav .search .input-field input[type=search]:focus{
    border-bottom: 1px solid  #00abc5;
    box-shadow: 0 1px 0 0  #00abc5;
}
#menu-lateral-movil .sidenav .search .input-field label{
    color:  #000;
}
#menu-lateral-movil .sidenav .search .input-field .prefix.active {
    color: #00abc5;
}
#menu-lateral-movil .sidenav .search .search-wrapper{
    display: flex;
}
#menu-lateral-movil .sidenav .search .input-field{
    margin-right: 80px; 
    margin-left: 20px;
}
/*********** fin menu lateral movil **********/

/********** contenido **********/
#contenido{
    padding: 15px 70px;
    width: 100%;
}
.card:hover{
    cursor: pointer;
}
/********** fin contenido **********/

/********** modal **********/
.modal img{
    height: 90px;
    width: 90px;
    margin-top: 15px;
    margin-left: 10px;
}
.modal nav{
    height: 120px;
}
.modal .right{
    margin-top: 30px;
    margin-right: 10px;
}
.modal .right a:hover{
    background: none;
}
.modal .right i:hover{
    color: #1a95d5;
}
/***************************/

/********** paginacion **********/
.pagination .active a{
    background-color: #1a95d5;
}
/********************************/

/********** sidebar **********/
#wrapper{
    padding-left: 0;
    padding-top: 1px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled{
    padding-left: 250px;
}
#sidebar-wrapper{
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper{
    width: 250px;
}

/* Sidebar Styles */
.sidebar-nav li{
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav li a{
    display: block;
    text-decoration: none;
    color: #999999;
    width: 100%
}
/****************************/

/********** slider **********/
.header2 img{
    width: 100%;
    height: 280px;
    background-size: contain;
    overflow: hidden;
}
/***************************/

/********** menu acordeon **********/
.contenedor-menu{
    width: 119%;
    /*min-width: 297px;*/
    margin: 0px;
    display: inline-block;
    line-height: 18px;
}
.contenedor-menu .menu{
    width: 84%;
}
.contenedor-menu ul{
    list-style: none;
}
.contenedor-menu .menu li a{
    /*color:#494949;*/
    /*background: #e9e9e9;*/
    display: block;
    padding: 5px 15px 5px 5px;
}
.contenedor-menu .menu li a:hover{
    background: #1a95d5;
    color: #fff;
}
.contenedor-menu .menu li .categorias:hover{
    background: none;
    color: #1a95d5;
}
.contenedor-menu .menu li .categorias{
    color: #1a95d5;
}
.contenedor-menu .menu .material-icons{
    padding-top: 8px;
}
.contenedor-menu .menu ul{
    display: none;
}
.contenedor-menu .menu ul li a{
    /*background: #424242;*/
    /*color:#e9e9e9;*/
    background: #e9e9e9;
    color: #424242;
}
.contenedor-menu .menu .activado > a{
    background: #1a95d5;
    color:#fff;
}
/********************************/

/********** sticky nav **********/
.menu-fixed{
    position:fixed;
    z-index:1000;
    top:64px;
}
.anti-salto{
    margin-top: 70px;
}
.menu-fixed2{
    z-index:1000;
    /*top:56px;*/
    top:0px;
}
/********************************/

/********** menu desplegable **********/
#login-form img{
    height: 90px;
    width: 90px;
}
/********** boton **********/
#login-form .btn{
    background-color: #00abc5;
}
#login-form .btn:hover{
    background-color: #bdbdbd;
}
#login-form .btn{
    width: 100%;
}
/*********************************/

/********** boton up **********/
.up{
    position: fixed;
    bottom: 15px;
    right: 15px;
}
/******************************/

/*********** imagen de perfil user_registration **********/
#imageUpload{
    display: none;
}
#profileImage{
    cursor: pointer;
}
#profile-container{
    width: 120px;
    height: 120px;
    overflow: hidden;
/*    margin-top: 0px;
    margin-bottom: 45px;*/
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
#profile-container img{
    width: 120px;
    height: 120px;
}
/*******************************************************/

/********** hide/show password **********/
.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}
/***************************************/

/********** text box **********/
/* label color */
.section .forms label{
    color:  #000;
}
/* label focus color */
.section .forms .input-field input[type=email]:focus + label,
.section .forms .input-field input[type=password]:focus + label,
.section .forms .input-field input[type=text]:focus + label,
.section .forms .input-field input[type=tel]:focus + label,
.section .forms .input-field textarea:focus + label{    
    color:  #00abc5;
}
/* label underline focus color */
.section .forms .input-field input[type=email]:focus,
.section .forms .input-field input[type=password]:focus,
.section .forms .input-field input[type=text]:focus,
.section .forms .input-field input[type=tel]:focus,
.section .forms .input-field textarea:focus{
    border-bottom: 1px solid  #00abc5;
    box-shadow: 0 1px 0 0  #00abc5;
}
.section .forms .input-field .prefix.active {
    color: #00abc5;
}
/******************************/

/********** botones **********/
.section .btn{
    background-color: #00abc5;
}
.section .btn:hover{
    background-color: #bdbdbd;
}
.section .btn{
    width: 100%;
}
.section .archivo{
    width: 30%;
}
/****************************/

/********** like/dislike **********/
.vote{
    width: 150px;
    margin: 50px 0;
    float: right;
}
.vote_bar{
    width: 100%;
    height: 4px;
    background-color: #f2504b;
}
.vote_progress{
    height: 4px;
    width: 50%;
    background-color: #1a95d5;
}
.vote_btns{
    margin-top: 10px;
    text-align: right;
}
.vote_btn{
    border: none;
    padding: 0;
    margin: 0 0 0 10px;
    display: inline-block;
    cursor: pointer;
    background: transparent;
    transition: color 0.3s;
}
.vote_like:hover{
    color: #1a95d5;
}
.vote_dislike:hover{
    color: #f2504b;
}
/**********************************/

/********** scrollbar **********/
*::-webkit-scrollbar {
	width: 10px;
	background: #424242;
}
*::-webkit-scrollbar-thumb {
	/*background: rgba(255,255,255, .5);*/
        background: #1a95d5;
	border-radius: 10px;
	/*border: 2px solid #424242;*/
}
/*******************************/






