*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

/********** growl **********/
.ui-growl-item-container {
    background: #00abc5;
    opacity: 1;
    border: none;
    /*box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); 
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);*/
}    
.ui-growl .ui-growl-icon-close{
    background-color: #fff;
}
/***************************/

/********** header1 **********/
.nav1 .nav-wrapper{
    background-color: #333333;
    border-bottom: 3px solid #007ce0;
}
.nav1 .nav-wrapper .brand-logo{
    padding-left: 55px;
    /*font-size: 25px;*/
}
.nav1 .nav-wrapper #nav-mobile li:hover{
    background: #00abc5;
}
.nav1 .nav-wrapper #nav-mobile .user{
   margin-right: 15px;
}
.nav1 .nav-wrapper #nav-mobile li a{
    padding-right: 15px;
    padding-left: 15px;
}
.nav1 .nav-wrapper .menu{
    padding-left: 18px;
    margin-bottom: 5px;
}
.nav1 .nav-wrapper #nav-mobile li img{
    height: 40px;
    width: 40px;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: -13px;
}
.nav1 .nav-wrapper .left img{
    height: 40px;
    width: 200px;
    margin-top: 10px;
}
/*****************************/

/********** search-bar **********/
.nav1 .nav-wrapper .search form{
    margin: auto;
    width: 30%;
}
.nav1 .nav-wrapper .search .input-field{
    padding-top: 7px;
}
.nav1 .nav-wrapper .search form #search{
    height: 50px;
}
.nav1 .right{
    position: absolute;
    top: 0px;
    right: 0px;
}
/********** fin search-bar **********/
/********** fin header1 **********/

/********** menu lateral movil **********/
.contenedor-menu2{
    width: 119%;
    margin: 0px;
    display: inline-block;
    line-height: 18px;
}
.contenedor-menu2 .menu2{
    width: 100%;
}
.contenedor-menu2 ul{
    list-style: none;
}
.contenedor-menu2 .menu2 li a{
    display: block;
    padding: 0px 40px 0px 25px;
}
.contenedor-menu2 .menu2 li a:hover{
    background: #1a95d5;
    color: #fff;
}
.contenedor-menu2 .menu2 ul{
    display: none;
}
.contenedor-menu2 .menu2 ul li a{
    background: #000;
    color: #999999;
}
.contenedor-menu2 .menu2 .activado > a{
    background: #1a95d5;
    color: #fff;
}
#menu-lateral-movil .sidenav .categorias2,
#menu-lateral-movil .sidenav .categorias2 i{
    color: #1a95d5;
}
#menu-lateral-movil .sidenav .divider {
    margin:0;
    height:8px;
    border-bottom:1px solid #e0e0e0;
    background-color: transparent;
}
/********** search ***********/
#menu-lateral-movil .sidenav .search .input-field input[type=search]:focus + label{
    color: #00abc5;
}
#menu-lateral-movil .sidenav .search .input-field input[type=search]:focus{
    border-bottom: 1px solid  #00abc5;
    box-shadow: 0 1px 0 0  #00abc5;
}
#menu-lateral-movil .sidenav .search .input-field label{
    color:  #000;
}
#menu-lateral-movil .sidenav .search .input-field .prefix.active {
    color: #00abc5;
}
#menu-lateral-movil .sidenav .search .search-wrapper{
    display: flex;
}
#menu-lateral-movil .sidenav .search .input-field{
    margin-right: 80px; 
    margin-left: 20px;
}
/*********** fin menu lateral movil **********/

/********** contenido **********/
#contenido{
    padding: 15px 70px;
    width: 100%;
}
.card:hover{
    cursor: pointer;
}
/********** fin contenido **********/

/********** modal **********/
.modal img{
    height: 90px;
    width: 90px;
    margin-top: 15px;
    margin-left: 10px;
}
.modal nav{
    height: 120px;
}
.modal .right{
    margin-top: 30px;
    margin-right: 10px;
}
.modal .right a:hover{
    background: none;
}
.modal .right i:hover{
    color: #1a95d5;
}
/***************************/

/********** paginacion **********/
.pagination .active a{
    background-color: #1a95d5;
}
/********************************/

/********** boton up **********/
.up{
    position: fixed;
    bottom: 15px;
    right: 15px;
}
/******************************/

/*********** imagen de perfil user_registration **********/
#admin_modal #imageUpload{
    display: none;
}
#admin_modal #profileImage{
    cursor: pointer;
}
#admin_modal #profile-container{
   width: 100px;
    height: 100px;
    overflow: hidden;
    margin: auto;
    margin-right: 2px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
#admin_modal #profile-container img{
    width: 100px;
    height: 100px;
}
/*******************************************************/

/********** text box **********/
/* label color */
#admin_modal label{
    color:  #000;
}
/* label focus color */
#admin_modal .input-field input[type=email]:focus + label,
#admin_modal .input-field input[type=password]:focus + label,
#admin_modal .input-field input[type=text]:focus + label,
#admin_modal .input-field input[type=tel]:focus + label,
#admin_modal .input-field textarea:focus + label{    
    color:  #00abc5;
}
/* label underline focus color */
#admin_modal .input-field input[type=email]:focus,
#admin_modal .input-field input[type=password]:focus,
#admin_modal .input-field input[type=text]:focus,
#admin_modal .input-field input[type=tel]:focus,
#admin_modal .input-field textarea:focus{
    border-bottom: 1px solid  #00abc5;
    box-shadow: 0 1px 0 0  #00abc5;
}
#admin_modal .input-field .prefix.active {
    color: #00abc5;
}
/******************************/

/********** botones **********/
#admin_modal .btn{
    background-color: #00abc5;
}
#admin_modal .btn:hover{
    background-color: #bdbdbd;
}
#admin_modal .btn{
    width: 100%;
}


#formulario_admin .btn{
    background-color: #00abc5;
}
#formulario_admin .btn:hover{
    background-color: #bdbdbd;
}
#formulario_admin .btn{
    width: 100%;
}
/****************************/

/********** hide/show password **********/
.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}
/***************************************/

/********** scrollbar **********/
*::-webkit-scrollbar {
	width: 10px;
	background: #424242;
}
*::-webkit-scrollbar-thumb {
	/*background: rgba(255,255,255, .5);*/
        background: #1a95d5;
	border-radius: 10px;
	/*border: 2px solid #424242;*/
}
/*******************************/

