*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.modal{ 
    max-height: 100% !important ; 
    overflow-y: hidden !important ;
}

/********** growl **********/
.ui-growl-item-container {
    background: #00abc5;
    opacity: 1;
    border: none;
    /*box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); 
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);*/
}    
.ui-growl .ui-growl-icon-close{
    background-color: #fff;
}
/***************************/

/********** menu lateral movil **********/
.contenedor-menu2{
    width: 119%;
    margin: 0px;
    display: inline-block;
    line-height: 18px;
}
.contenedor-menu2 .menu2{
    width: 100%;
}
.contenedor-menu2 ul{
    list-style: none;
}
.contenedor-menu2 .menu2 li a{
    display: block;
    padding: 0px 40px 0px 25px;
}
.contenedor-menu2 .menu2 li a:hover{
    background: #1a95d5;
    color: #fff;
}
.contenedor-menu2 .menu2 ul{
    display: none;
}
.contenedor-menu2 .menu2 ul li a{
    background: #000;
    color: #999999;
}
.contenedor-menu2 .menu2 .activado > a{
    background: #1a95d5;
    color: #fff;
}
#menu-lateral-movil .sidenav .categorias2,
#menu-lateral-movil .sidenav .categorias2 i{
    color: #1a95d5;
}
#menu-lateral-movil .sidenav .divider {
    margin:0;
    height:8px;
    border-bottom:1px solid #e0e0e0;
    background-color: transparent;
}
/********** search ***********/
#menu-lateral-movil .sidenav .search .input-field input[type=search]:focus + label{
    color: #00abc5;
}
#menu-lateral-movil .sidenav .search .input-field input[type=search]:focus{
    border-bottom: 1px solid  #00abc5;
    box-shadow: 0 1px 0 0  #00abc5;
}
#menu-lateral-movil .sidenav .search .input-field label{
    color:  #000;
}
#menu-lateral-movil .sidenav .search .input-field .prefix.active {
    color: #00abc5;
}
#menu-lateral-movil .sidenav .search .search-wrapper{
    display: flex;
}
#menu-lateral-movil .sidenav .search .input-field{
    margin-right: 80px; 
    margin-left: 20px;
}
/*********** fin menu lateral movil **********/

/********** contenido **********/
#contenido{
    padding: 15px 70px;
    width: 100%;
}
.card:hover{
    cursor: pointer;
}
/********** fin contenido **********/

/********** modal **********/
.modal img{
    height: 90px;
    width: 90px;
    margin-top: 15px;
    margin-left: 10px;
}
.modal nav{
    height: 120px;
}
.modal .right{
    margin-top: 30px;
    margin-right: 10px;
}
.modal .right a:hover{
    background: none;
}
.modal .right i:hover{
    color: #1a95d5;
}
/***************************/

/********** boton up **********/
.up{
    position: fixed;
    bottom: 15px;
    right: 15px;
}
/******************************/

/********** text box **********/
/* label color */
.section .form_project_registration label{
    color:  #000;
}
/* label focus color */
.section .form_project_registration .input-field input[type=email]:focus + label,
.section .form_project_registration .input-field input[type=password]:focus + label,
.section .form_project_registration .input-field input[type=text]:focus + label,
.section .form_project_registration .input-field input[type=tel]:focus + label,
.section .form_project_registration .input-field textarea:focus + label{    
    color:  #00abc5;
}
/* label underline focus color */
.section .form_project_registration .input-field input[type=email]:focus,
.section .form_project_registration .input-field input[type=password]:focus,
.section .form_project_registration .input-field input[type=text]:focus,
.section .form_project_registration .input-field input[type=tel]:focus,
.section .form_project_registration .input-field textarea:focus{
    border-bottom: 1px solid  #00abc5;
    box-shadow: 0 1px 0 0  #00abc5;
}
.section .form_project_registration .input-field .prefix.active {
    color: #00abc5;
}
.select-wrapper ul li>span {
    color: #00abc5;
}
.section .form_project_registration .input-field textarea{
    border-bottom: 0px solid;
    box-shadow: 0 1px 0 0;
}
/******************************/

/********** botones **********/
.form_project_registration .btn{
    background-color: #00abc5;
}
.form_project_registration .btn:hover{
    background-color: #bdbdbd;
}
.form_project_registration .btn{
    width: 100%;
}
.form_project_registration .archivo{
    width: 30%;
}
/****************************/

/********** tabs **********/
.tab_datos_proyecto .tabs .tab a{
    color: #00abc5;
}
.tab_datos_proyecto .tabs .tab a:hover {
    background: #bdbdbd;
    color: white;
}
.tab_datos_proyecto .tabs .tab a.active {
    background: #00abc5;
    color: white;
}
.tab_datos_proyecto .tabs .tab a:focus.active {
    background: #00abc5;
    color: white;
}
.tab_datos_proyecto .tabs .indicator {
    background: #00abc5;
}
/***************************/

/********** scrollbar **********/
*::-webkit-scrollbar {
	width: 10px;
	background: #424242;
}
*::-webkit-scrollbar-thumb {
	/*background: rgba(255,255,255, .5);*/
        background: #1a95d5;
	border-radius: 10px;
	/*border: 2px solid #424242;*/
}
/*******************************/
