*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/********** growl **********/
.form_grupo .ui-growl-item-container {
    background: #00abc5;
    opacity: 1;
    border: none;
    /*box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); 
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);*/
}    
.form_grupo .ui-growl .ui-growl-icon-close{
    background-color: #fff;
}
/***************************/

/********** text box **********/
/* label color */
.form_grupo label{
    color:  #000;
}
/* label focus color */
.form_grupo #formulario3 .input-field input[type=email]:focus + label,
.form_grupo #formulario3 .input-field input[type=password]:focus + label,
.form_grupo #formulario3 .input-field input[type=text]:focus + label,
.form_grupo #formulario3 .input-field input[type=tel]:focus + label{    
    color:  #00abc5;
}
/* label underline focus color */
.form_grupo #formulario3 .input-field input[type=email]:focus,
.form_grupo #formulario3 .input-field input[type=password]:focus,
.form_grupo #formulario3 .input-field input[type=text]:focus,
.form_grupo #formulario3 .input-field input[type=tel]:focus{
    border-bottom: 1px solid  #00abc5;
    box-shadow: 0 1px 0 0  #00abc5;
}
.form_grupo #formulario3 .input-field .prefix.active {
    color: #00abc5;
}
/******************************/

/********** botones **********/
.form_grupo .btn{
    background-color: #00abc5;
}
.form_grupo .btn:hover{
    background-color: #bdbdbd;
}
.form_grupo .btn{
    width: 100%;
}
/*********************************/

/********** scrollbar **********/
*::-webkit-scrollbar {
	width: 10px;
	background: #424242;
}
*::-webkit-scrollbar-thumb {
	/*background: rgba(255,255,255, .5);*/
        background: #1a95d5;
	border-radius: 10px;
	/*border: 2px solid #424242;*/
}
/*******************************/

