*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
/*    background: url(../img/md1.png);
    background-size: contain;
    display: flex;
    min-height: 100vh;*/
    font-family: 'Roboto', sans-serif;
    width:100%;
}

/********** growl **********/
.ui-growl-item-container {
    background: #00abc5;
    opacity: 1;
    border: none;
    /*box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); 
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);*/
}    
.ui-growl .ui-growl-icon-close{
    background-color: #fff;
}
/***************************/

/********** text box **********/
/* label color */
.section .forms label{
    color:  #000;
}
/* label focus color */
.section .forms .input-field input[type=email]:focus + label,
.section .forms .input-field input[type=password]:focus + label,
.section .forms .input-field input[type=text]:focus + label,
.section .forms .input-field input[type=tel]:focus + label,
.section .forms .input-field textarea:focus + label{    
    color:  #00abc5;
}
/* label underline focus color */
.section .forms .input-field input[type=email]:focus,
.section .forms .input-field input[type=password]:focus,
.section .forms .input-field input[type=text]:focus,
.section .forms .input-field input[type=tel]:focus,
.section .forms .input-field textarea:focus{
    border-bottom: 1px solid  #00abc5;
    box-shadow: 0 1px 0 0  #00abc5;
}
.section .forms .input-field .prefix.active {
    color: #00abc5;
}
.section .forms .input-field .equis{
    color: #00abc5;
}
/******************************/

/********** checkbox **********/
.section .forms .recuerda:checked + span:before{
    border-top-color: transparent; 
    border-left: transparent;
    border-bottom: 2px solid #00abc5;
    border-right: 2px solid #00abc5;
}
/* label color */
.section .forms .checkbox label{
    color: #000;
}
/*****************************/

/********** botones **********/
.section .btn{
    background-color: #00abc5;
}
.section .btn:hover{
    background-color: #bdbdbd;
}
.section .btn{
    width: 100%;
}
/*********************************/

#pregunta a{
    font-size: 13px;
    text-align: center;
    color: #00abc5;
}
#pregunta a:hover{
    /*background-color: #bdbdbd;*/
    color: #bdbdbd;
}
.section .link-cuenta{
    font-size: 20px;
}

/********** hide/show password **********/
.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}
/***************************************/

/********** logo project_registration *********/
#project-registration{
    width: 120px;
    height: 120px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}
/*********************************************/

/********** sidebar **********/
#wrapper{
    padding-right: 0;
    padding-top: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled{
    padding-right: 500px;
}
#sidebar-wrapper{
    z-index: 1000;
    position: fixed;
    right: 500px;
    width: 0%;
    height: 100%;
    margin-right: -500px;
    overflow-y: auto;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper{
    width: 500px;
}
/**********************************/

/********** navbar **********/
.nav1 img{
    width: 55px;
    height: 55px;
    margin-left: 40px;
    margin-top: 2px;
}
.nav1 .is{
    margin-right: 40px;
}
#wrapper .nav1 nav{
    /*height: 80px;*/
    background-color: #00abc5;
}
/*#wrapper nav{
    background-color: #fff;
    border: none;
}*/
header.topbar{
    background-color: #00abc5;
    position: fixed;
    width: 100%;
    height: 100px;
    /*opacity: 0.7;*/
    z-index: 1;
    top: 0;
    left: 0;
}
header.topbar .right{
    font-size: 1.5em;
}
header .logo{
    /*width: 200px;
    height: 200px;*/
    width: 14em;
    height: 14em;
    margin-left: 50px;
    margin-top: 22px;
}
header .right{
    margin-right: 30px;
    margin-top: 40px;
}
/****************************/

/********** contenido **********/
#contenido{
    padding: 15px 20px;
    width: 100%;
    background-color: #00abc5;
    background-size: contain;
    display: flex;
    min-height: 100vh;
}
#contenido .msn1{    
    font-size: calc(1.5rem + 2.5vw);
    font-weight: bold;
    /*line-height: 70px;*/
/*    font-size: 50px;*/
}
#contenido .msn2{    
    font-size: calc(1rem + 1vw);
/*    font-size: 50px;*/
}
#contenido .container{
    padding-left: 5px;
    color: #fff;   
}
/********** fin contenido **********/


/********** scrollbar **********/
*::-webkit-scrollbar {
	width: 10px;
	background: #424242;
}
*::-webkit-scrollbar-thumb {
	/*background: rgba(255,255,255, .5);*/
        background: #1a95d5;
	border-radius: 10px;
	/*border: 2px solid #424242;*/
}
/*******************************/






