*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.modal{ 
    max-height: 100% !important ; 
    overflow-y: hidden !important ;
}

/********** growl **********/
.modal .ui-growl-item-container {
    background: #00abc5;
    opacity: 1;
    border: none;
    /*box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); 
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);*/
}    
.modal .ui-growl .ui-growl-icon-close{
    background-color: #fff;
}
/***************************/

/********** text box **********/
/* label color */
.modal .forms label{
    color:  #000;
}
/* label focus color */
.modal .forms .input-field input[type=email]:focus + label,
.modal .forms .input-field input[type=password]:focus + label,
.modal .forms .input-field input[type=text]:focus + label,
.modal .forms .input-field input[type=tel]:focus + label{    
    color:  #00abc5;
}
/* label underline focus color */
.modal .forms .input-field input[type=email]:focus,
.modal .forms .input-field input[type=password]:focus,
.modal .forms .input-field input[type=text]:focus,
.modal .forms .input-field input[type=tel]:focus{
    border-bottom: 1px solid  #00abc5;
    box-shadow: 0 1px 0 0  #00abc5;
}
.modal .forms .input-field .prefix.active {
    color: #00abc5;
}
/******************************/

/********** botones **********/
.modal .btn{
    background-color: #00abc5;
}
.modal .btn:hover{
    background-color: #bdbdbd;
}
.modal .btn{
    width: 100%;
}
/*********************************/

/********** hide/show password **********/
.modal .field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}
/***************************************/

/*********** imagen de perfil user_registration **********/
.modal #imageUpload{
    display: none;
}
.modal #profileImage{
    cursor: pointer;
}
.modal #profile-container{
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: auto;
    margin-left: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.modal #profile-container img{
    width: 120px;
    height: 120px;
}
/*******************************************************/

/********** scrollbar **********/
*::-webkit-scrollbar {
	width: 10px;
	background: #424242;
}
*::-webkit-scrollbar-thumb {
	/*background: rgba(255,255,255, .5);*/
        background: #1a95d5;
	border-radius: 10px;
	/*border: 2px solid #424242;*/
}
/*******************************/
