*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
/*    background: url(../img/md1.png);
    background-size: contain;
    display: flex;
    min-height: 100vh;*/
    font-family: 'Roboto', sans-serif;
}

/********** text box **********/
/* label color */
.section .forms label{
    color:  #000;
}
/* label focus color */
.section .forms .input-field input[type=email]:focus + label,
.section .forms .input-field input[type=password]:focus + label,
.section .forms .input-field input[type=text]:focus + label,
.section .forms .input-field input[type=tel]:focus + label,
.section .forms .input-field textarea:focus + label{    
    color:  #00abc5;
}
/* label underline focus color */
.section .forms .input-field input[type=email]:focus,
.section .forms .input-field input[type=password]:focus,
.section .forms .input-field input[type=text]:focus,
.section .forms .input-field input[type=tel]:focus,
.section .forms .input-field textarea:focus{
    border-bottom: 1px solid  #00abc5;
    box-shadow: 0 1px 0 0  #00abc5;
}
.section .forms .input-field .prefix.active {
    color: #00abc5;
}
.section .forms .input-field .equis{
    color: #00abc5;
}
/******************************/

/********** checkbox **********/
.section .forms .recuerda:checked + span:before{
    border-top-color: transparent; 
    border-left: transparent;
    border-bottom: 2px solid #00abc5;
    border-right: 2px solid #00abc5;
}
/* label color */
.section .forms .checkbox label{
    color: #000;
}
/*****************************/

/********** botones **********/
.section .btn{
    background-color: #00abc5;
}
.section .btn:hover{
    background-color: #bdbdbd;
}
.section .btn{
    width: 100%;
}
/*********************************/

#pregunta a{
    font-size: 13px;
    text-align: center;
    color: #00abc5;
}
#pregunta a:hover{
    /*background-color: #bdbdbd;*/
    color: #bdbdbd;
}
.section .link-cuenta{
    font-size: 20px;
}

/********** hide/show password **********/
.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}
/***************************************/

/*********** imagen de perfil user_registration **********/
#imageUpload{
    display: none;
}
#profileImage{
    cursor: pointer;
}
#profile-container{
    width: 120px;
    height: 120px;
    overflow: hidden;
/*    margin-top: 0px;
    margin-bottom: 45px;*/
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
#profile-container img{
    width: 120px;
    height: 120px;
}
/*******************************************************/

/********** logo project_registration *********/
#project-registration{
    width: 120px;
    height: 120px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}
/*********************************************/

/********** sidebar **********/
#wrapper{
    padding-left: 0;
    padding-top: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled{
    padding-left: 1000px;
}
#sidebar-wrapper{
    z-index: 1000;
    position: fixed;
    left: 1000px;
    width: 1518px;
    height: 100%;
    margin-left: -1000px;
    overflow-y: auto;
    background: #00abc5;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 15px 20px;
}
#wrapper.toggled #sidebar-wrapper{
    width: 1000px;
}
/**********************************/

/********** contenido **********/
#sidebar-wrapper{
/*    padding: 15px 20px;
    width: 100%;*/
    /*background-color: #fff;*/
/*    background-size: contain;
    display: flex;
    min-height: 100vh;*/
}
#sidebar-wrapper img{
    width: 60px;
    height: 60px;
    margin-left: 50px;
}
#sidebar-wrapper .msn1{    
    font-size: calc(1.5rem + 2.5vw);
    font-weight: bold;
    line-height: 70px;
    /*font-size: 50px;*/
}
#sidebar-wrapper .msn2{    
    font-size: calc(1rem + 1vw);
    /*font-size: 50px;*/
}
#sidebar-wrapper .container{
    padding-left: 5px;
    color: #fff;   
}
/*#sidebar-wrapper form{
    position: absolute;
    top: 50px;
    left: 60px;
    padding: 20px;
    transition: all 300ms;
}*/
/********** fin contenido **********/

/*#wrapper nav{
    background-color: #fff;
    border: none;
}*/

/********** scrollbar **********/
*::-webkit-scrollbar {
	width: 10px;
	background: #424242;
}
*::-webkit-scrollbar-thumb {
	/*background: rgba(255,255,255, .5);*/
        background: #1a95d5;
	border-radius: 10px;
	/*border: 2px solid #424242;*/
}
/*******************************/






